html, body, #root, .App {
    height: 100%;
}
#grid {
    height: 100%;
    position: relative;
    z-index: 5;
}
#selection, #kingdom-menu, #turn-menu {
    position: fixed;
    z-index: 10;
}
#selection {
    right: 50%;
    top: 20%;
}
#kingdom-menu {
    top: 0;
    right: 0;
}
#turn-menu {
    bottom: 0;
    left: 0;
}

svg g .hex {
    fill: #3F51B5;
}
svg g .hex.color-0 {
    fill: #352FB2;
}
svg g .hex.color-1 {
    fill: #FFA876;
}
svg g .hex.color-2 {
    fill: #4FCC35;
}
svg g .hex.color-3 {
    fill: #2CB2B2;
}
svg g .hex.color-4 {
    fill: #FF72D8;
}
svg g .hex.color-5 {
    fill: #CCB332;
}

svg g .hex.highlight {
    fill-opacity: 0.6;
}

.balance-positive {
    color: #4FCC35;
}
.balance-negative {
    color: #FF7588;
}

.unit.has-move {
    animation: bounce 1s infinite;
}

@keyframes bounce {
 0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
 40% {transform: translateY(-8px);}
 60% {transform: translateY(-4px);}
}
