html, body, #root, .App {
    height: 100%;
}
#grid {
    height: 100%;
    position: relative;
    z-index: 5;
}
#selection, #kingdom-menu, #turn-menu {
    position: fixed;
    z-index: 10;
}
#selection {
    right: 50%;
    top: 20%;
}
#kingdom-menu {
    top: 0;
    right: 0;
    width: 24em;
}
#turn-menu {
    bottom: 0;
    left: 0;
}

svg g .hex {
    fill: #3F51B5;
}
svg g .hex.color-0 {
    fill: #117298; /* primary */
}
svg g .hex.color-1 {
    fill: #219724; /* success */
}
svg g .hex.color-2 {
    fill: #f47100; /* warning */
}
svg g .hex.color-3 {
    fill: #ff1d10; /* danger */
}
svg g .hex.color-4 {
    fill: #54bde6; /* info */
}
svg g .hex.color-5 {
    fill: #dddddd; /* secondary */
}

svg g .hex.highlight {
    fill-opacity: 0.6;
}

.unit.has-move {
    animation: bounce 1s infinite;
}

@keyframes bounce {
 0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
 40% {transform: translateY(-8px);}
 60% {transform: translateY(-4px);}
}
