html, body, #root, .App {
    height: 100%;
}
#grid {
    height: 100%;
}

.App {
    display: flex;
}
.card-menu, #grid {
    flex: auto;
}

svg g .hex {
    fill: #3F51B5;
}
svg g .hex.color-0 {
    fill: #c82333; /* danger */
}
svg g .hex.color-1 {
    fill: #28a745; /* success */
}
svg g .hex.color-2 {
    fill: #e0a800; /* warning */
}
svg g .hex.color-3 {
    fill: #868e96; /* text-muted */
}
svg g .hex.color-4 {
    fill: #138496; /* info */
}
svg g .hex.color-5 {
    fill: #424242; /* secondary */
}

svg g .hex.highlight {
    fill-opacity: 0.6;
}

.unit.has-move {
    animation: bounce 1s infinite;
}

@keyframes bounce {
 0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
 40% {transform: translateY(-8px);}
 60% {transform: translateY(-4px);}
}

.inline-buttons {
    display: flex;
}
.inline-buttons button {
    flex: auto;
    margin: 0 0.6125rem;
}
.inline-buttons button:first-child {
    margin-left: 0;
}
.inline-buttons button:last-child {
    margin-right: 0;
}

.card {
    border: none;
    border-radius: 0;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
}
.card-header {
    border: 0;
}
.card-menu-small, .card-menu-large {
    position: fixed;
    z-index: 5000;
}
.card-menu-small-kingdom {
    top: 0;
    width: 100%;
}
.card-menu-small-game {
    bottom: 0;
    width: 100%;
}
@media (max-width: 767px) { /* md */
    .card-body {
        padding: 0.8em;
    }
    .inline-buttons button {
        margin: 0 0.4rem;
    }
}
.card-menu-large {
    right: 0;
    top: 0;
    width: 20em;
    height: 100%;
}
@media (min-width: 992px) { /* lg */
    .card-menu-large {
        width: 24em;
    }
}
@media (min-width: 1200px) { /* xl */
    .card-menu-large {
        width: 28em;
    }
}
.card-menu-large .game-menu {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.kingdom-menu .selection-container {
    height: 40px;
}
.money-display {
    font-size: 1.125em;
}
@media (min-width: 576px) { /* sm */
    .money-display {
        font-size: 1.5em;
    }
}
